
<header class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bojta-Ing</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="active"><a href="/products">Product Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="btn btn-info" ><a href="/cart">Cart</a></li>
            </ul>
        </div>
    </nav>

</header>