<style>
    .navbar {margin-bottom: 100px;
        left: 100px; /* just an estimate of your sidebar's width */
        width: calc(100% - 200px);
    }
    .btn {
        margin: 5px;
    }
</style>
<header class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="background-color: #a88d32;" >
        <a class="navbar-brand" href="#">Bojta-Ing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Дома<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product-categories">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zaNas">За Нас</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <th:block sec:authorize="hasRole('ROLE_USER')">
                    <li ><a type="button" class="btn btn-outline-success" href="/cart">Кошничка</a></li>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-primary" href="/login">
                    <i class="fa fa-shopping-cart"></i> Login
                </a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-danger" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Logout
                    </a>
            </ul>
<!--            <form class="form-inline my-2 my-lg-0">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
        </div>
    </nav>

</header>