<section class="jumbotron text-center container" xmlns:th="http://www.thymeleaf.org">
    <style>
        p{
            margin-bottom: 15px;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Products Page</title>
    </head>
    <body>
    <th:block sec:authorize="!isAuthenticated()">
        <p class="text-danger bg-light" >За да додадете продукт во кошничка потребно е да се најавите <a href="/login">тука!</a> </p>
    </th:block>

    <hr>

    <th:block th:if="${search}">
        <th:block th:if="${products.size() == 0}">
            <p>Не постои бараниот продукт</p>
        </th:block>
    </th:block>
    <ul>

        <div class="container mb-4">
            <div class="row">
                <div class="col-12" th:if="${products.size() > 0}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID </th>
                                <th scope="col">Name</th>
                                <th scope="col">Shape</th>
                                <th scope="col">Number of Dimensions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.getId()}"></td>
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getShape() != null}
                                ? ${product.getShape().getName()} : 'No Shape'"></td>
                                <td th:text="${product.getShape().getDimensions().size()}"></td>
                                <td>
                                    <th:block sec:authorize="hasRole('ROLE_USER')">
                                        <form th:action="@{'/product-categories/{cat}/{id}' (id=${product.getId()}, cat=${category})}" th:method="GET">
                                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash">Show Details</i></button>
                                        </form>
                                    </th:block>
                                </td>
                                <td class="text-right">
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form th:action="@{'/product-categories/{cat}/delete/{id}' (id=${product.getId()}, cat=${category})}" th:method="DELETE">
                                            <button type="submit" onclick="return confirm('Дали сте сигурни дека сакате да го избришете продуктот?');" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>
                                        </form>
                                    </th:block>
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{'/product-categories/{cat}/edit-form/{id}' (id=${product.getId()}, cat=${category})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                                    </th:block>
<!--                                    <form th:action="@{'/cart/add-product/{id}' (id=${product.getId()})}" th:method="POST">-->
<!--                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash">Add product to cart</i></button>-->
<!--                                    </form>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/product-categories/{cat}/add-form' (cat=${category})}" class="btn btn-block btn-dark">Add new product</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ul>
    </body>
</section>>