<div xmlns:th="http://www.thymeleaf.org" class="small-middle-container">
    <th:block>
        <section class="jumbotron text-center">
        <div class="container">
            <h3>Детали за продуктот</h3>
        </div>
        </section>

     <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form th:action="@{'/cart/add/{id}' (id=${product.getId()})}" th:method="POST">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text"
                               class="form-control"
                               id="id"
                               name="id"
                               th:value="(${product} != null ? ${product.getId()} : '')"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Име на продуктот</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${product} != null ? ${product.getName()} : '')"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="category">Категорија</label>
                        <input type="text"
                               class="form-control"
                               id="category"
                               name="category"
                               th:value="${category}"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="shape">Форма на знак</label>
                        <input type="text"
                               class="form-control"
                               id="shape"
                               name="shape"
                               th:value="${product.getShape().getName()}"
                               disabled>
                    </div>
                    <div>
                        <label>Димензија</label>
                        <select name="dimension" class="form-control">
                            <option th:if="${product} != null"
                                    th:each="dim : ${product.getShape().getDimensions()}"
                                    th:value="${dim}"
                                    th:text="${dim}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Додај во кошничка</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/product-categories/{cat}' (cat=${category})}">Назад</a>
                </form>
            </div>
        </div>
     </div>
    </th:block>

</div>
