<section class="jumbotron container text-center" xmlns:th="http://www.thymeleaf.org">
    <title>Дома</title>
<body>
Добродојдовте


<!--Our Posts-->
<dl>
    <p th:each="post:${posts}">
    <dt  th:text="${post.headline}"></dt>
    <dd th:text="${post.description}"></dd>

<!--    <form th:action="@{'/post/delete/{id}' (id=${post.id})}"-->
<!--    th:method="DELETE">-->
<!--    <button type="submit"-->
<!--            class="btn btn-sm btn-danger delete-product">-->
<!--        <i class="fa fa-trash">Delete</i>-->
<!--    </button>-->
<!--    </form>-->

    </p>
</dl>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/post" type="button">Додади пост</a>
</th:block>
</body>
</section>