<section class="jumbotron text-center container" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <h1>Add Post</h1>
</head>
<body>
    <form action="/post" method="POST" >
        <div class="form-group">
            <label for="headline">Headline</label>
            <input type="text"
                   class="form-control"
                   id="headline"
                   name="headline"
                   required
                   placeholder="Enter headline">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="10" cols="30"
                   class="form-control"
                   id="description"
                   name="description"
                   required
                   placeholder="Enter description">
            </textarea>
        </div>
        <input type="submit" name="Submit">
    </form>
</body>
</section>