<div class="container" xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="small-middle-container">
            <h3 class="jumbotron-heading">Кошничка за
                <th:block th:if="${username != null}" th:text="${username}"></th:block>
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="small-middle-container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Име на продуктот</th>
                            <th scope="col">Категорија</th>
                            <th scope="col">Shape</th>
                            <th scope="col">Димензија</th>
                            <th scope="col">Количина</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${orderItems}">
                            <td th:text="${product.getProduct().getName()}"></td>
                            <td th:text="${product.getProduct().getCategory()}"></td>
                            <td th:text="${product.getProduct().getShape() != null}
                                ? ${product.getProduct().getShape().getName()} : 'No Shape'"></td>
                            <td th:text="${product.getDimension()}"></td>
                            <td>
                                <form th:action="@{'/cart/quantity/{id}' (id=${product.getId()})}" th:method="POST">
                                <input type="number"  name="quantity" min="1" max="100" th:value="${product.quantity}">
                                    <input type="submit" class="btn btn-outline-success" value="Зачувај" >
                                </form>
                            </td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_USER')">
                                    <form th:action="@{'/cart/delete/{id}' (id=${product.getId()})}" th:method="DELETE">
                                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Дали сте сигурни дека сакате да го избришете продуктот?');"><i class="fa fa-trash">Избриши</i></button>
                                    </form>
                                </th:block>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <th:block th:if="${orderItems.size() > 0}" sec:authorize="hasRole('ROLE_USER')">
                        <form th:action="@{'/cart/confirm-order'}"  th:method="POST">
                            <button type="submit" class="btn btn-block btn-dark" onclick="return confirm('Дали сте сигурни дека сакате да ја испратите нарачката?');"><i>Испрати нарачка</i></button>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
