
<div class="small-middle-container" xmlns:th="http://www.thymeleaf.org">
    <h2>За нас</h2>
    <p>
Фирмата БОЈТА ИНГ дооел експорт-импорт Скопје е друштво за производство, изведба, консалтинг-проектирање и промет на секаков вид на сообраќајна сигнализација и галантерија. Целокупната производна програма е строго дефинирана по важечки норми и регулативи од оваа област како во Р.Македонија така и во ЕУ.
    </p>

Со своето делување БОЈТА ИНГ дооел Скопје учествува и работи на следните проблематики:
    <ul>
<li>Проектирање и дигитално пратење и водење на документација за сообраќајни решенија;</li>
        <li>  Обележување на хоризонтална сообраќајна сигнализација по коловози и паркинзи;</li>
        <li>  Производство и монтажа на вертикална сообраќајна сигнализација, знаци, патокази и забавувачи на брзина;</li>
        <li>  Изработка на светлосни сообраќајни знаци со константна и променлива содржина на база на ЛЕД технологија;</li>
        <li>  Секаков вид на одржувања и набавка на сообраќајна галантерија и опрема за патишта;</li>
        <li>  Производство и монтажа на сигнализација за заштита при работа и известителна сигнализација;</li>
        <li>  Производство и монтажа на комерцијална графика (реклами, бренд натписи, изработка на излози и сл.)</li>
        <li>  Изработка на рекламни материјали и натписи (рекламен материјал, маици, елеци, налепници и сл.)</li>
    </ul>
    <p>
БОЈТА ИНГ дооел Скопје располага со производен капацитет опремен за целосно производство на сите видови на сообраќајна сигнализација и располага
        со најмодерени технички софтвери и програми за нивно проектирање, разработка и изработка од почеток па се до финализација на производите.
Во нејзината работа се користат придобивките од најновите технолишки решенија и производството на материјали за изработка на сообраќајна
        сигнализација од реномирани светски производители како што се 3М, Oracal, и други. За своите технолошки постапки при реализација на своите производи поседува
        и сетификати (кон сертификат) и препораки (кон препораки) кои се добиени на база на остварени квалитети во решавањето на барањата од оваа област.
    </p>
    <h4>Имате прашање за нас?</h4>
    <form th:action="@{'/contact'}" th:method="POST">
        <input name="question" id="question" type="text">
        <button type="submit" class="btn btn-block btn-dark">
            <i>Испрати прашање</i>
        </button>
    </form>
</div>
